<h2>Sign up</h2>
<%= form_for @user do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <br />
  <%= f.label :password %>
  <br />
  <%= f.password_field :password %>
  <br />
  <%= f.label :height %>
  <br />
  <%= f.text_field :height %>
  <br />
  <%= f.label :happiness %>
  <br />
  <%= f.text_field :happiness %>
  <br />
  <%= f.label :tickets %>
  <br />
  <%= f.text_field :tickets %>
  <br />
  <%= f.label :nausea %>
  <br />
  <%= f.text_field :nausea %>
  <br />
  <%= f.check_box :admin %>
  <%= f.label :admin %>
  <br />
  <%= f.submit "Create User" %>
<% end %>

