<div class="container">
  <div>
    <h4><%= 'ADMIN' if @user.admin %></h4>
    <h4>Name: <%= @user.name %></h4>
    <h4>Tickets: <%= @user.tickets %></h4>
    <h4>Mood: <%= @user.mood %></h4>
    <h4>Height: <%= @user.height %></h4>
  </div>
</div>
