<%= link_to 'Home', users_path %>
<h1> Welcome! </h1>
<% if @user %>
  User: <strong><%= @user.name %></strong>
  <% if @user.admin %>
    ADMIN
    <%# <%= link_to "See attractions", attractions_path %1> %>
  <% end %>
  <%= link_to 'Log Out', logout_path %>
<% end %>
<%= link_to "Sign up", new_user_path %>
<%= link_to "Sign in", signin_path %>
