<% if session[:user_id] && !User.find(session[:user_id]).admin? %>
<h2><%= link_to "Go on #{attraction.name}" , attraction_path(attraction) %></h2>
<% end %>
<h2>Name: <%= link_to "#{attraction.name}" , attraction_path(attraction) %> </h2>
<h2>Tickets: <%= attraction.tickets %></h2>
<h2>Nausea Rating: <%= attraction.nausea_rating %></h2>
<h2>Happiness Rating: <%= attraction.happiness_rating %></h2>
<h2>Minimum Height: <%= attraction.min_height %></h2>
<%# <form method="get" action=<%= "/users/#{session[:user_id]}" %1> > %>
<%#   <input type="hidden" name="attraction[id]" id="attraction[id]" value= <%= "#{attraction.id}" %1> /> %>
<%#     <button type="submit">Go on this ride</button> %>
<%# </form> %>

<%= form_for attraction, :url => { :controller => 'attractions' , :action => 'take_ride' } , method: :post do |f| %>
  <%= f.hidden_field :id %>

  <% if session[:user_id] && !User.find(session[:user_id]).admin? %>
    <%= f.submit 'Go on this ride' %>
  <% end %>
<% end %>

<% if session[:user_id] && User.find(session[:user_id]).admin? %>
  <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
  <%= link_to "Edit Attraction", edit_attraction_path(attraction) %>
<% end %>
<%# <%= form_for attraction, :url => { :controller => 'users' , :action => 'show' } , method: :post do |f| %1> %>
<%#   <%= f.hidden_field :id ,name:"attraction[id]" %1> %>
<%#   <%= f.submit 'Go on this ride' %1> %>
<%# <% end %1> %>
