<%= form_for attraction do |f| %>
  <h2>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </h2>
  <h2>
    <%= f.label :tickets %>
    <%= f.text_field :tickets %>
  </h2>
  <h2>
    <%= f.label :nausea_rating %>
    <%= f.text_field :nausea_rating %>
  </h2>
  <h2>
    <%= f.label :happiness_rating %>
    <%= f.text_field :happiness_rating %>
  </h2>
  <h2>
    <%= f.label :min_height %>
    <%= f.text_field :min_height %>
  </h2>
  <h2><%= f.submit "Create Attraction" %></h2>
<% end %>
